@font-face
  font-family: 'Rubik'
  src: url('../fonts/Rubik-VariableFont_wght.ttf') format('truetype')

html, body
  font-family: 'Rubik', sans-serif !important
  margin: 0 !important
  padding: 0 !important
  overflow: hidden !important
  height: 100%